<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- ============================== -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG"/>
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<!--param name="ConversionPattern" value="%d{ABSOLUTE} (%F:%L) %-5p [%c{1}] %m%n"/-->
			<!--param name="ConversionPattern" value="%6r %-5p [%c{1}] %m%n"/-->
			<!--param name="ConversionPattern" value="%-5p %9t [%c{1}] %m%n"/-->
			<param name="ConversionPattern" value="[%-5p]%c %9t-&gt; %m%n"/>
			<!--param name="ConversionPattern" value="%m%n"/-->
		</layout>
	</appender>
	
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG"/>
		<param name="File" value="tete.log"/>
		<param name="Append" value="false"/>
    <param name="MaxFileSize" value="1MB"/>
    <param name="MaxBackupIndex" value="3"/>
		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<!--param name="ConversionPattern" value="%d{ABSOLUTE} (%F:%L) %-5p [%c{1}] %m%n"/-->
			<!--param name="ConversionPattern" value="%6r %-5p [%c{1}] %m%n"/-->
			<!--param name="ConversionPattern" value="%-5p %9t [%c{1}] %m%n"/-->
			<param name="ConversionPattern" value="[%-5p]%9t-&gt; %m%n"/>
			<!--param name="ConversionPattern" value="%m%n"/-->
		</layout>
	</appender>
	
	<!-- ================ -->
	<!-- Limit categories -->
	<!-- ================ -->
	<category name="vicar">
		<priority value="INFO"/>
	</category>
	<category name="log">
		<priority value="DEBUG"/>
	</category>
	<category name="output">
		<priority value="DEBUG"/>
	</category>
	
	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->
	<root>
		<appender-ref ref="CONSOLE"/>
		<!--appender-ref ref="FILE"/-->
	</root>

	<!--categoryFactory class="org.objectweb.util.monolog.wrapper.log4j.MonologCategoryFactory"/-->
</log4j:configuration>
